<div class="container">
    <div class="row">

        <app-search-pokemon></app-search-pokemon>
        <div class="toggle-button-container">
          <button (click)="toggleView()">
            {{ isCarouselView ? 'Afficher en liste' : 'Afficher en carrousel' }}
          </button>
        </div>
        <div *ngIf="!isCarouselView">
        <div *ngFor="let pokemon of pokemonList$ | async" class="col m4 s6">
            <div (click)="goToPokemon(pokemon)"  class="card horizontal"  pkmnBorderCard>
                <div class="card-image">
                    <img [src]="pokemon.picture">
                </div>
                <div class="card-stacked">
                    <div class="card-content">
                        <p>{{pokemon.name}}</p>
                        <p><small>{{pokemon.created | date: "dd/MM/yyyy" | uppercase}}</small></p>
                        <span 
                            *ngFor="let type of pokemon.types" 
                            class="{{type | pokemonTypeColor }}">

                            {{ type }}
                            
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<a 
    class="btn-floating btn-large waves-effect waves-light red z-depth-3"
    style="position:fixed ; bottom: 25px; right: 25px;"
    routerLink="/pokemon/add"
>
+
</a>



  
  <!-- <div *ngIf="isCarouselView">
    <c-carousel [interval]="0">
      <c-carousel-inner>
        <c-carousel-item *ngFor="let pokemon of pokemonList$ | async">
          <img
            [src]="pokemon.picture"
            alt="{{ pokemon.name }}"
            class="d-block w-100"
            loading="lazy"
          />
          <div class="carousel-caption">
            <h5>{{ pokemon.name }}</h5>
            <p><small>{{ pokemon.created | date: 'dd/MM/yyyy' | uppercase }}</small></p>
            <div>
              <span *ngFor="let type of pokemon.types" class="{{ type | pokemonTypeColor }}">
                {{ type }}
              </span>
            </div>
          </div>
        </c-carousel-item>
      </c-carousel-inner>
      <c-carousel-control caption="Previous" direction="prev"></c-carousel-control>
      <c-carousel-control caption="Next" direction="next"></c-carousel-control>
    </c-carousel>
  </div>
   -->